/* Селектор по елементу */
body {
    background-color: hsl(32, 71%, 72%); /* Світло-помаранчевий фон */
    margin: 0;
    padding: 0;
}

/* Селектор по елементу */
header {
    background-image: url('images/48.png'); /* Додала картинку */
    background-size: cover; /* Зробила картинку на весь розмір */
    background-position: center; /* Вирівняла картинку по центру */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;  
    font-weight: bold; /* Жирний текст */

}

/* Селектор по елементу */
nav {
    padding: 10px;
}

/* Груповий селектор */
nav ul,
footer ul {
    list-style-type: none;
    padding: 0;
}

/* Селектор по елементу */
nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 24px; /* Збільшено розмір тексту у посиланнях */
}

/* Селектор по елементу */
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Селектор по елементу */
main {
    padding: 20px;
    text-align: center; /* Вирівняла вміст по центру */
    font-size: 24px;
}

/* Змінює колір посилання */
footer a {
    color: rgb(227, 86, 15);
    text-decoration: none;
}

/* Селектор по елементу */
footer {
    background-image: url('images/48.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold; /* Жирний текст */
}

/* Стиль для ліній */
.line {
    width: 100%;
    height: 12px;
    background-color: rgb(237, 73, 13);
}

/* Стилі для всіх таблиць */
table {
    background-color: lightblue; /* Задній фон таблиці */
    border-radius: 10px; /* Скруглені кути таблиці */
    font-size: 18px; /* Збільшено розмір тексту у таблиці */
}


.subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 0; /* Встановлює початкову прозорість 0 */
    animation: fadeIn 5s ease forwards; /* Викликає анімацію fadeIn */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Початкова прозорість 0 */
        transform: translateY(20px); /* Зсуває блок вниз на 20px */
    }
    to {
        opacity: 1; /* Кінцева прозорість 1 */
        transform: translateY(0); /* Повертає блок на вихідне положення */
    }
}



.content {
    flex: 1; /* Займає доступне місце */
    padding: 15 20px;
}


.image-container {
    width: 300px; 
    height: 300px; 
    margin-left: 20px; /*  відступ для контейнера */
    overflow: hidden; /* Обрізається зайве зображення, що вилазить за границі */
    background-size: cover; /* розтягнення зображення для заповнення контейнера */
    background-position: center; /* Центрування зображення у контейнері */
}

.image {
    width: 100%; 
    height: 100%; 
}

.image1 {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Збільшила висоту зображення */
    margin-left: 20px; /* Додала відступ для зображення */
    margin-bottom: 20px; /* Додала відступ знизу */
}
.subsection:nth-child(odd) {
    flex-direction: row-reverse; /* Змінено напрямок для непарних елементів */
}

.subsection h3 {
    font-size: 28px; /* Збільш розмір тексту у заголовках */
}

.subsection p {
    margin-bottom: 10px; /* Додала відступ вниз */
}

@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}


.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меню, яке буде з'являтися */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #FFEFBA;
    transform: translateX(-100%);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.menu.active {
    transform: translateX(0);
}

.menu li {
    list-style-type: none;
    margin: 10px 0;
}

/* Змінюється гамбургер значок, коли меню відкрито */
.menu-btn.active span:nth-of-type(1) {
	display: none;
}

.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);  
}

.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg); 
}
